* {
  padding: 0;
  margin:  0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
  overflow: hidden;
}

.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.loader h2 {
  font-size: 25px;
  margin: 0 5px;
}